.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin  10s linear;
  height: 40vmin;
}

.App-header {
  background-image: url("./background.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
}



li {
  list-style: none;
}

.quote {
  color: rgb(244, 174, 24);
  font-family: 'Rock Salt', cursive;
  font-size : 18px;
}
.character {
  color: black;
  font-family: 'Rock Salt', cursive;
  font-size : 20px;
  
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


